.page{
  font: 14px Arial;
}
.title{
  font-size: 24px;
}
.title_center{
  text-align: center;
}
.cart{
  background: #fff;
  max-width: 600px;
  min-height: 300px;
}
.cart-center{
  margin: 0 auto;
}
