<h1 class="title title_center">{{title}}</h1>
<div class="cart cart-center">
  <div class="user">
    <div class="user__avatar">
      <img class="user__img-avatar" [src]="userCurrent?.picture.large | notAvatar">
    </div>
    <div class="user__name">{{userCurrent?.name.last}}</div>
    <div class="user__info_silver">{{userCurrent.phone}}</div>
    <div class="user__info_silver">{{userCurrent.email}}</div>
  </div>
  <button class="btn cart__btn-send" (click)="getUser()">
    Найти
  </button>
</div>
<app-list-users [users]="users"></app-list-users>
